@use "../utils";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        column-gap: 30px;

        > * {
            flex: 1;
        }

        @include utils.screen(md) {
            column-gap: 20px;
        }

        @include utils.screen(sm) {
            flex-direction: column;
        }
    }

    &__group {
        margin-top: 30px;

        @include utils.screen(sm) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: flex-end;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__input-icon-error,
        .form__error {
            display: block;
        }

        .form__input--icon {
            display: none;
        }
    }

    &__input-icon-error {
        display: none;
        margin-left: 12px;
        animation: shake ease 0.5s;
    }

    &__error {
        display: none;
        text-align: left;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $error-color;
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 10px;
        border: 1px solid #d2d1d6;
        padding: 0 12px;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-area {
        padding: 12px;
        height: 100px;

        &-input {
            resize: none;
        }
    }

    &__text-input {
        position: relative;
        height: 50px;

        &--small {
            height: 42px;
        }

        @include utils.screen(sm) {
            height: 48px;
        }
    }

    &__input,
    &__text-area-input {
        width: 100%;
        height: 100%;
        flex: 1;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.445;

        &::placeholder {
            color: var(--form-placeholder-color);
        }
    }

    &__input {
        &--icon {
            margin-left: 12px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        user-select: none;

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9e9da8;
        }

        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.467;
            margin-left: 29px;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }

        &::after {
            width: 13px;
            height: 8px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            top: 3px;
            rotate: -45deg;
            left: 3px;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.455;

        &--small {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            margin-bottom: 10px;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;

        width: 100%;
        height: 45px;

        border-radius: 6px;
        border: 1px solid #d2d1d6;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;
    }

    &__select {
        display: flex;
        align-items: center;
        padding: 0px 14px;

        &:first-child {
            gap: 65px;
            border-right: 0.5px solid #d2d1d6;
        }

        &:last-child {
            gap: 17px;
            border-left: 0.5px solid #d2d1d6;
        }

        &:first-child,
        &:last-child {
            @include utils.screen(xl) {
                flex: 1;
                gap: 0;
                justify-content: space-between;
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        &-dialog {
            position: absolute;
            bottom: 44px;
            left: 10px;

            z-index: 1;

            display: flex;
            flex-direction: column;

            opacity: 0;
            visibility: hidden;
            translate: 0 10px;

            min-width: 230px;
            max-height: 315px;

            background: var(--dropdown-bg-color);
            padding: 0 0 10px;
            border-radius: 10px;
            border: 1px solid #d2d1d6;
            box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.2);

            @include utils.screen(sm) {
                position: fixed;
                inset: 0;
                max-width: inherit;
                max-height: inherit;
                border-radius: 0;
            }

            &.show {
                opacity: 1;
                visibility: visible;
                translate: 0;
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        height: 38px;

        margin-bottom: 10px;
        padding: 5px 20px;
        border-bottom: 1px solid #d2d1d6;

        @include utils.screen(lg) {
            height: 42px;
        }

        @include utils.screen(sm) {
            margin: 10px 20px 20px;
            padding: 5px 10px;
            border: 1px solid #d2d1d6;
            border-radius: 7px;
        }

        &-input {
            height: 100%;
            flex: 1;
            font-size: 1.6rem;

            &::placeholder {
                font-size: 1.4rem;
            }
        }

        &-icon {
            width: 24px;
            height: 24px;
            padding: 5px;
            filter: var(--search-icon-filter-color);
        }
    }

    &__dialog-heading {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
        padding: 14px;
    }

    &__close-dialog {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 3rem;
        padding: 0 10px;
        opacity: 0.8;
    }

    &__options-list {
        flex: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option {
        line-height: 1.8;
        font-size: 1.4rem;
        padding: 0 20px;

        @include utils.screen(lg) {
            line-height: 3;
        }

        &:not(&--current):hover {
            background: var(--form-option-bg);
            cursor: pointer;
        }

        &--current {
            font-weight: 500;
            background: rgba($color: #ffb700, $alpha: 0.5);
        }
    }

    &__tags {
        display: flex;
        gap: 20px;

        @include utils.screen(sm) {
            gap: 9px;
        }
    }

    &__tag {
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;

        padding: 6px 12px;

        border-radius: 6px;
        background: var(--form-tag-bg);
    }
}
