@use "../utils";

%fill-screen {
    position: fixed;
    inset: 0;
}

.modal {
    @extend %fill-screen;
    z-index: 98;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.2s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        font-size: 3.5rem;
        padding: 20px 30px;
    }

    &__body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    &__heading {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.42;
        padding-bottom: 10px;
        color: var(--cart-item-text-dark);
    }

    &__form-label{
        color: var(--cart-item-text-dark);
    }

    &__content {
        position: relative;
        z-index: 1;

        width: min(var(--content-width, 800px), 100% - 40px);
        background: var(--dialog-bg);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 20px 60px 10px var(--dialog-shadow);
    }

    &--small &__content {
        --content-width: 400px;
    }

    &--large &__content {
        --content-width: 1100px;
    }

    &--fill &__content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    &__overlay {
        @extend %fill-screen;
        background: rgb($color: #000, $alpha: 0.4);
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    @include utils.screen(sm) {
        &__content {
            padding: 20px;
        }

        &__btn {
            flex: 1;
        }

        &__bottom {
            gap: 20px;
        }
    }
}
