@use "../utils";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(46%) saturate(697%) hue-rotate(210deg) brightness(88%)
        contrast(99%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);

    @include utils.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --act-dropdown-bottom-border: #d2d1d6;

    //Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category-item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include utils.screen(md) {
        --cate-item-bg: #fff;
    }

    // Button Filter
    --btn-filter-color: #6c6c72;
    --btn-filter-bg: #fff;

    // Button Like
    --btn-like-bg: #fff;
    --btn-like-shadow: rgba(124, 124, 124, 0.2);

    // Product Card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter Form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-slider-circle-bg: var(--filter-form-bg);
    --form-tag-bg: #f8f8fb;

    //Footer
    --footer-bg: var(--header-bg-color);

    // Auth
    --auth-content-bg: #fff;

    @include utils.screen(md) {
        --auth-intro-bg: #fff;
    }

    //Form
    --form-placeholder-color: #d2d1d6;
    --form-option-bg: #ebebeb;

    // Product Detail
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-info-container: #fff;
    --product-info-tag-bg: #ededf6;
    --product-info-price-color: #000;

    @include utils.screen(md) {
        --product-detail-bg: #fafafd;
        --product-detail-info-bg: transparent;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    @include utils.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search Bar
    --search-bar-bg: #fff;

    // Review Card
    --review-card-bg: #fafafd;

    @include utils.screen(md) {
        --review-card-bg: #fff;
    }

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --cart-info-bg: #fff;
    --cart-info-shadow: rgba(237, 237, 246, 0.2);
    --cart-item-border-color: #d2d1d6;
    --cart-item-input-border-color: #d2d1d6;
    --card-item-icon-filter: brightness(0) saturate(100%) invert(9%) sepia(9%) saturate(3969%) hue-rotate(210deg)
        brightness(95%) contrast(97%);
    --card-separate-bg: #d2d1d6;
    --cart-payment-bg: #f6f6f6;
    --cart-give-img-wrap: #f1ecfc;
    --cart-give-shadow: rgba(237, 237, 246, 0.2);
    --cart-item-text-dark-low: #9E9DA8;

    // Dialog
    --dialog-bg: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);
}
